[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "scripts/bash-getopt"]
	path = scripts/bash-getopt
	url = https://github.com/notpeelz/bash-getopt.git
