[submodule "dot_zsh-plugins/external_zsh-syntax-highlighting"]
	path = dot_zsh-plugins/external_zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "external_dot_powerlevel10k"]
	path = external_dot_powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "dot_local/share/tmux/plugins/external_tmux-sensible"]
	path = dot_local/share/tmux/plugins/external_tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "dot_local/share/tmux/plugins/external_tmux-onedark-theme"]
	path = dot_local/share/tmux/plugins/external_tmux-onedark-theme
	url = https://github.com/odedlaz/tmux-onedark-theme.git
[submodule "dot_zsh-plugins/external_dot_powerlevel10k"]
	path = dot_zsh-plugins/external_dot_powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "dot_zsh-plugins/external_powerlevel10k"]
	path = dot_zsh-plugins/external_powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "dot_local/gdb-plugins/external_gef"]
	path = dot_local/gdb-plugins/external_gef
	url = https://github.com/hugsy/gef.git
