/* Hide sidebar close button (because Tree Style Tab is almost always open) */

#sidebar-close {
  visibility: collapse;
}

/* Hide tabs when OS titlebar is enabled (intended to use with Tree Style Tab) */

#main-window:not([tabsintitlebar]) #TabsToolbar {
  visibility: collapse;
}

/* Hide titlebar incognito indicator */
#main-window[privatebrowsingmode=temporary]:not([tabsintitlebar])
  #titlebar
  .private-browsing-indicator {
  visibility: collapse;
}

/* Add navbar incognito indicator */
#main-window[privatebrowsingmode=temporary]:not([tabsintitlebar])
  #navigator-toolbox
  #PanelUI-button
  #PanelUI-menu-button {
  --toolbarbutton-hover-background: rgba(153, 38, 211, 0.8);
  --toolbarbutton-active-background: rgb(153, 38, 211);
}

#main-window[privatebrowsingmode=temporary]:not([tabsintitlebar])
  #nav-bar::after {
  content: "";
  width: calc(30px + var(--toolbar-start-end-padding));
  background-image: url("chrome://global/skin/icons/indicator-private-browsing.svg");
  background-size: calc(80% - var(--toolbar-start-end-padding)) auto;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: calc(50% - var(--toolbar-start-end-padding)) center;
}
